# Git config

[user]
  name = Peter Prescott
  email = prescott.peter@gmail.com
  username = peterprescott
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
